@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
  /* Dark Slate Background */
  color: #fff;
}

/* Custom Scrollbar for the list */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 3px;
}

/* AI Glow Effect */
.ai-glow {
  box-shadow: 0 0 15px rgba(99, 102, 241, 0.3);
}